<head>
    <meta charset="utf-8" />
    <title>Client Onboard Checklists</title>
    <meta name="description" content="Powered by Meteor.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/captina.ico?v1" sizes="16x16 32x32 64x64">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-precomposed.png">
</head>
