<template name="taskStep">
    <div class="{{stepClass}}">

        <div class="content">
            <span class="ui icon input">
                <i class="check circle outline icon"></i>
            </span>
            <div class="title">{{name}}</div>
            <div class="description">
                The description
            </div>
        </div>
    </div>
</template>