<template name="footer">
    <div class="ui black inverted bottom attached vertical footer segment">
        <div class="ui wide center aligned container">
            <div class="ui stackable inverted grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Community</h4>

                    <div class="ui inverted link list">
                        <a class="item" href="https://www.transifex.com/organization/semantic-org/" target="_blank">Help
                                                                                                                    Translate</a>
                        <a class="item" href="https://github.com/Semantic-Org/Semantic-UI/issues" target="_blank">Submit
                                                                                                                  an
                                                                                                                  Issue</a>
                        <a class="item" href="https://gitter.im/Semantic-Org/Semantic-UI" target="_blank">Join our
                                                                                                          Chat</a>
                        <a class="item" href="/cla.html" target="_blank">CLA</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Network</h4>

                    <div class="ui inverted link list">
                        <a class="item" href="https://github.com/Semantic-Org/Semantic-UI" target="_blank">GitHub
                                                                                                           Repo</a>
                        <a class="item" href="http://1.semantic-ui.com">1.x Docs</a>
                        <a class="item" href="http://legacy.semantic-ui.com">0.x Docs</a>
                    </div>
                </div>
                <!--    <div class="three wide column">
                     <h4 class="ui inverted header">Learn</h4>
                     <div class="ui inverted link list">
                       <a href="#" class="disabled item">Example Layouts</a>
                       <a href="#" class="disabled item">The Project</a>
                       <a href="#" class="disabled item">Roadmap</a>
                       <a href="#" class="disabled item">About the Author</a>
                     </div>
                   </div> -->
                <div class="seven wide right floated column">
                    <h4 class="ui inverted teal header">Help Preserve This Project</h4>

                    <p> Support for the continued development of Semantic UI comes directly from the community.</p>

                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="7ZAF2Q8DBZAQL">
                        <button type="submit" class="ui large teal button">Donate Today</button>
                    </form>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img src="/images/logo.png" class="ui centered mini image">

            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="http://semantic-ui.mit-license.org/" target="_blank">Free &amp; Open Source
                                                                                           (MIT)</a>
            </div>
        </div>
    </div>
</template>