<template name="loading">
    <div class="ui icon message">
        <i class="ui {{isLoading}} violet notched circle loading icon"></i>
        <div class="content">
            <div class="header">
                Loading, please wait...
            </div>
        </div>
    </div>
</template>