<template name="myFullAtForm">
    <div class="full height">
        <div class="ui very padded center aligned container segment">
            {{> yield region='main'}}
        </div>
    </div>
</template>