<template name="pageNotFound">
    <div>
        <h1>
            Uh oh.
        </h1>
        <br>

        <h3>
            The page you're looking for was not found.
            <br>
            If you got here from an old permalink, it might be that something changed in the mean while...
        </h3>
    </div>
</template>