<template name="sidebarListsMenu">

    <a id="sb-{{_id}}" class="{{activeListClass}} item list-title" href="/list/{{_id}}">
        {{title}} <span class="floating ui red circular label">{{incompleteCount}}</span>
    </a>

    <div id="note-{{_id}}" class="ui fluid popup transition hidden">
        <div class="ui middle aligned selection list">

            <div class="item">
                <div class="content">
                    <div class="header">Notes:</div>
                    <div class="list">
                        <div class="item">
                            <i class="ui right floated edit icon"></i>
                            <i class="ui left floated delete icon"></i>
                            <div class="content">
                                Add a note
                            </div>
                        </div>

                        <div class="item">
                            <i class="ui right floated edit icon"></i>
                            <i class="ui left floated delete icon"></i>
                            <div class="content">
                                <span>Add another note</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="ui right floated edit icon"></i>
                <i class="ui left floated delete icon"></i>
                <div class="content">
                    Add a note
                </div>
            </div>

        </div>
    </div>

</template>