<template name="tasks">
    <div class="ui wide main container">
        <div class="ui two column grid">
            <div class="column">
                <h1 class="ui header">
                    Tasks

                    <div class="sub header">

                        These are the tasks
                    </div>
                </h1>

                <div class="ui hidden divider"></div>
                {{#if Template.subscriptionsReady}}
                    <div class="ui vertical steps">
                        {{#each task in mainTasks}}
                            {{> taskStep}}
                        {{else}}
                            {{> loading isLoading="active"}}
                        {{/each}}
                    </div>
                {{else}}
                    {{> loading isLoading="active"}}
                {{/if}}
            </div>
        </div>

    </div>

</template>