<template name="testContent">
    <div class="ui masthead vertical tab segment">
        <div class="ui wide main container">
            <div class="introduction">

                <h1 class="ui header">
                    Container

                    <div class="sub header">

                        A container limits content to a maximum width
                    </div>
                </h1>

                <div class="ui hidden divider"></div>

                <div class="ui right floated main menu">
                    <a class="bug popup icon item" data-content="Edit This Page"
                       href="https://github.com/Semantic-Org/Semantic-UI-Docs/edit/master/server/documents/elements/container.html.eco">
                        <i class="edit icon"></i>
                    </a>

                    <a class="bug popup icon item" data-content="Submit Bug Report"
                       href="https://github.com/Semantic-Org/Semantic-UI/issues/new?title=[Container] - Your Bug Name&amp;body=**Steps to Reproduce**%0A1. Do something%0A2. Do something else.%0A3. Do one last thing.%0A%0A**Expected**%0AThe Container should do this%0A%0A**Result**%0AThe Container does not do this%0A%0A**Testcase**%0A(fork this to get started)%0Ahttp://jsfiddle.net/rduvhn8u/1/">
                        <i class="bug icon"></i>
                    </a>

                    <a class="github popup icon item" data-content="View project on GitHub"
                       href="https://github.com/Semantic-Org/Semantic-UI">
                        <i class="alternate github icon"></i>
                    </a>
                </div>
                <div class="ui right floated main menu">
                    <a class="music popup icon item" data-content="Play Music">
                        <i class="music icon"></i>
                    </a>

                    <div class="ui language dropdown right floating icon item" id="languages"
                         data-content="Select Language">
                        <i class="world icon"></i>

                        <div class="menu">
                            <div class="header">Select Language</div>
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input type="text" placeholder="Search languages...">
                            </div>
                            <div class="scrolling menu">
                                <div class="item" data-percent="100" data-value="en" data-text="English"
                                     data-english="English">
                                    <span class="description">English</span>
                                    English
                                </div>
                                <div class="item" data-percent="94" data-value="da" data-text="dansk"
                                     data-english="Danish">
                                    <span class="description">dansk</span>
                                    Danish
                                </div>
                                <div class="item" data-percent="94" data-value="es" data-text="Español"
                                     data-english="Spanish">
                                    <span class="description">Español</span>
                                    Spanish
                                </div>
                                <div class="item" data-percent="34" data-value="zh" data-text="简体中文"
                                     data-english="Chinese">
                                    <span class="description">简体中文</span>
                                    Chinese
                                </div>
                                <div class="item" data-percent="54" data-value="zh_TW" data-text="中文 (臺灣)"
                                     data-english="Chinese (Taiwan)">
                                    <span class="description">中文 (臺灣)</span>
                                    Chinese (Taiwan)
                                </div>
                                <div class="item" data-percent="79" data-value="fa" data-text="پارسی"
                                     data-english="Persian">
                                    <span class="description">پارسی</span>
                                    Persian
                                </div>
                                <div class="item" data-percent="41" data-value="fr" data-text="Français"
                                     data-english="French">
                                    <span class="description">Français</span>
                                    French
                                </div>
                                <div class="item" data-percent="37" data-value="el" data-text="ελληνικά"
                                     data-english="Greek">
                                    <span class="description">ελληνικά</span>
                                    Greek
                                </div>
                                <div class="item" data-percent="37" data-value="ru" data-text="Русский"
                                     data-english="Russian">
                                    <span class="description">Русский</span>
                                    Russian
                                </div>
                                <div class="item" data-percent="36" data-value="de" data-text="Deutsch"
                                     data-english="German">
                                    <span class="description">Deutsch</span>
                                    German
                                </div>
                                <div class="item" data-percent="23" data-value="it" data-text="Italiano"
                                     data-english="Italian">
                                    <span class="description">Italiano</span>
                                    Italian
                                </div>
                                <div class="item" data-percent="21" data-value="nl" data-text="Nederlands"
                                     data-english="Dutch">
                                    <span class="description">Nederlands</span>
                                    Dutch
                                </div>
                                <div class="item" data-percent="19" data-value="pt_BR"
                                     data-text="Português(BR)" data-english="Portuguese">
                                    <span class="description">Português(BR)</span>
                                    Portuguese
                                </div>
                                <div class="item" data-percent="17" data-value="id" data-text="Indonesian"
                                     data-english="Indonesian">
                                    <span class="description">Indonesian</span>
                                    Indonesian
                                </div>
                                <div class="item" data-percent="12" data-value="lt" data-text="Lietuvių"
                                     data-english="Lithuanian">
                                    <span class="description">Lietuvių</span>
                                    Lithuanian
                                </div>
                                <div class="item" data-percent="11" data-value="tr" data-text="Türkçe"
                                     data-english="Turkish">
                                    <span class="description">Türkçe</span>
                                    Turkish
                                </div>
                                <div class="item" data-percent="10" data-value="kr" data-text="한국어"
                                     data-english="Korean">
                                    <span class="description">한국어</span>
                                    Korean
                                </div>
                                <div class="item" data-percent="7" data-value="ar" data-text="العربية"
                                     data-english="Arabic">
                                    <span class="description">العربية</span>
                                    Arabic
                                </div>
                                <div class="item" data-percent="6" data-value="hu" data-text="Magyar"
                                     data-english="Hungarian">
                                    <span class="description">Magyar</span>
                                    Hungarian
                                </div>
                                <div class="item" data-percent="6" data-value="vi" data-text="tiếng Việt"
                                     data-english="Vietnamese">
                                    <span class="description">tiếng Việt</span>
                                    Vietnamese
                                </div>
                                <div class="item" data-percent="5" data-value="sv" data-text="svenska"
                                     data-english="Swedish">
                                    <span class="description">svenska</span>
                                    Swedish
                                </div>
                                <div class="item" data-precent="4" data-value="pl" data-text="polski"
                                     data-english="Polish">
                                    <span class="description">polski</span>
                                    Polish
                                </div>
                                <div class="item" data-percent="6" data-value="ja" data-text="日本語"
                                     data-english="Japanese">
                                    <span class="description">日本語</span>
                                    Japanese
                                </div>
                                <div class="item" data-percent="0" data-value="ro" data-text="românește"
                                     data-english="Romanian">
                                    <span class="description">românește</span>
                                    Romanian
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui download primary button">
                    Download
                </div>
                <div class="ui flowing download basic popup">
                    <div class="ui divided equal width relaxed center aligned choice grid">
                        <div class="framework column">
                            <h4 class="ui center aligned header">UI Framework</h4>

                            <div class="ui list">
                                <div class="item"><i class="green check icon"></i> Themable</div>
                                <div class="item"><i class="green check icon"></i> Build Tools</div>
                            </div>
                            <div class="ui primary fluid button">Choose</div>
                        </div>
                        <div class="standalone column">
                            <h4 class="ui center aligned header">Standalone</h4>

                            <div class="ui list">
                                <div class="item">Default Theme</div>
                                <div class="item">Precompiled</div>
                            </div>
                            <div class="ui fluid button basic">Choose</div>
                        </div>
                    </div>
                    <div class="ui divided equal height relaxed center aligned framework grid">
                        <div class="column">
                            <div class="ui header">Semantic UI</div>
                            <a class="ui primary button"
                               href="https://github.com/Semantic-Org/Semantic-UI/archive/master.zip">
                                Download ZIP
                            </a>
                            <a class="ui button" href="/introduction/getting-started.html">Getting
                                                                                           Started</a>
                            <h4 class="ui header">Package Managers</h4>

                            <div class="ui form">
                                <div class="field">
                                    <label>NPM</label>

                                    <div class="ui fluid input">
                                        <input type="text" readonly="readonly" placeholder="Copy Link"
                                               value="npm install semantic-ui">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Git</label>

                                    <div class="ui fluid input">
                                        <input type="text" readonly="readonly" placeholder="Copy Link"
                                               value="https://github.com/Semantic-Org/Semantic-UI.git">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui divided equal height relaxed center aligned standalone grid">
                        <div class="column">
                            <div class="ui header">Standalone Container</div>
                            <a class="ui primary button"
                               href="https://github.com/Semantic-Org/UI-Container/archive/master.zip">
                                Download ZIP
                            </a>
                            <a class="ui button" href="https://github.com/Semantic-Org/UI-Container/">
                                View GitHub
                            </a>
                            <h4 class="ui header">Package Managers</h4>

                            <div class="ui form">
                                <div class="field">
                                    <label>Bower</label>

                                    <div class="ui fluid input">
                                        <input type="text" readonly="readonly" placeholder="Copy Link"
                                               value="bower install semantic-ui-container">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>NPM</label>

                                    <div class="ui fluid input">
                                        <input type="text" readonly="readonly" placeholder="Copy Link"
                                               value="npm install semantic-ui-container">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Git</label>

                                    <div class="ui fluid input">
                                        <input type="text" readonly="readonly" placeholder="Copy Link"
                                               value="https://github.com/Semantic-Org/UI-Container.git">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="advertisement">

                <script async="" type="text/javascript"
                        src="//cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=semanticuicom"
                        id="_carbonads_js"></script>

            </div>

            <div class="ui three item stackable tabs menu">

                <a class="item" data-tab="introduction">Introduction</a>

                <a class="item" data-tab="definition">Definition</a>

                <a class="item active" data-tab="examples">Examples</a>

            </div>

        </div>
    </div>
    <div class="ui intro tab" data-tab="introduction">

        <div class="ui wide main container">

            <h2 class="ui dividing header">Introduction<a class="anchor" id="introduction"></a></h2>

            <div class="introduction">

                <h3 class="ui header">When To Use</h3>

                <p>A container is an element designed to contain page elements to a reasonable maximum width
                   based on the size of a user's screen. This is useful to couple with other UI elements
                   like <a href="/collections/grid.html">grid</a> or <a
                            href="/collections/menu.html">menu</a> to restrict their width to a reasonable
                   size for display.</p>

                <h3 class="ui header">Container Sizes</h3>

                <p>Containers are designed to responsively adjust their maximum width based on the size of
                   the screen they are appearing.</p>

                <table class="ui celled definition table">
                    <thead>
                    <tr>
                        <th class="collapsing"></th>
                        <th>Mobile</th>
                        <th>Tablet</th>
                        <th class="single line">Small Monitor</th>
                        <th class="single line">Large Monitor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Width</td>
                        <td>100%</td>
                        <td>
                            723px
                            <i class="circle help link icon"
                               data-html="Maximum device width with two <code>1em</code> gutters and a <code>17px</code> scrollbar width. <div class='ui divider'></div> <code>768 - (14 * (1 * 2)) - 17</code>">
                            </i></td>
                        <td>
                            933px
                            <i class="circle help link icon"
                               data-html="Maximum device width with two <code>1.5em</code> gutters and a <code>17px</code> scrollbar width. <div class='ui divider'></div> <code>992 - (14 * (1.5 * 2)) - 17</code>">
                            </i></td>
                        <td>
                            1127px
                            <i class="circle help link icon"
                               data-html="Maximum device width with two <code>2em</code> gutters and a <code>17px</code> scrollbar width. <div class='ui divider'></div> <code>1200 - (14 * (2 * 2)) - 17</code>">
                            </i></td>
                    </tr>
                    <tr>
                        <td class="single line">Gutter Size</td>
                        <td>1em</td>
                        <td>Fluid</td>
                        <td>Fluid</td>
                        <td>Fluid</td>
                    </tr>
                    <!--     <tr>
                          <td>Variable</td>
                          <td><code>$largestMobileScreen</code></td>
                          <td><code>$mobileBreakpoint</code></td>
                          <td><code>$smallMonitorBreakpoint</code></td>
                          <td><code>$largeMonitorBreakpoint</code></td>
                        </tr> -->
                    <tr>
                        <td class="single line">Responsive Visibility</td>
                        <td><code>mobile only</code></td>
                        <td><code>tablet only</code></td>
                        <td><code>small monitor only</code></td>
                        <td><code>large monitor only</code></td>
                    </tr>
                    <tr>
                        <td>Device Width</td>
                        <td>below 768px</td>
                        <td>768px - 991px</td>
                        <td>992px - 1200px</td>
                        <td>above 1200px</td>
                    </tr>
                    </tbody>
                </table>

                <h3 class="ui header">Determining Maximum Widths</h3>

                <p>Containers appear at the same width at each device size. This size is calculated
                   programmatically by determining the maximum device width available within a device
                   breakpoint, given a desired minimum gutter size.</p>

                <p>For example to determine tablet container size the following formula is used:</p>

                <div class="ui existing segment"><pre><code class="code less"><span class="comment">/* In site.variables */</span>
<span class="variable">@tabletBreakpoint :</span> <span class="number">768px</span>;
<span class="variable">@scrollbarWidth :</span> <span class="number">17px</span>; <span class="comment">/* This is a constant */</span>
 <span class="comment">/* In container.variables */</span>
<span class="variable">@tabletMinimumGutter :</span> (<span class="variable">@emSize</span>  * <span
                            class="number">1</span>); <span class="comment">/* require 1em gutter */</span>
<span class="variable">@tabletWidth :</span> <span class="variable">@tabletBreakpoint</span> - (<span class="variable">@tabletMinimumGutter</span> * <span
                            class="number">2</span>) - <span
                            class="variable">@scrollbarWidth</span>;</code></pre>
                </div>

                <p>This is the same as <code>768px - (14px * 2) - 17px</code> or <code>723px</code></p>

                <p>Adjusting site breakpoints in <code>site.variables</code> to use custom values will
                   automatically adjust container widths.</p>

            </div>
        </div>
    </div>
    <div class="ui tab" data-tab="definition">

        <div class="ui wide main container">

            <h2 class="ui dividing header">Types<a class="anchor" id="types"></a></h2>

            <div class="no example">
                <h4 class="ui header">Container</h4><i class="icon code"></i><a class="anchor"
                                                                                id="container"></a>

                <p>A standard container</p>
            </div>

            <div class="ui ignored code">
                <div class="ui container">
                    <p></p>
                </div>
            </div>

        </div>

        <div class="ui container">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
               elit. Aenean commodo ligula eget dolor. Aenean massa
                <strong>strong</strong>. Cum sociis natoque penatibus
               et magnis dis parturient montes, nascetur ridiculus
               mus. Donec quam felis, ultricies nec, pellentesque
               eu, pretium quis, sem. Nulla consequat massa quis
               enim. Donec pede justo, fringilla vel, aliquet nec,
               vulputate eget, arcu. In enim justo, rhoncus ut,
               imperdiet a, venenatis vitae, justo. Nullam dictum
               felis eu pede <a href="#">link</a>
               mollis pretium. Integer tincidunt. Cras dapibus.
               Vivamus elementum semper nisi. Aenean vulputate
               eleifend tellus. Aenean leo ligula, porttitor eu,
               consequat vitae, eleifend ac, enim. Aliquam lorem ante,
               dapibus in, viverra quis, feugiat a, tellus. Phasellus
               viverra nulla ut metus varius laoreet. Quisque rutrum.
               Aenean imperdiet. Etiam ultricies nisi vel augue.
               Curabitur ullamcorper ultricies nisi.</p>
        </div>

        <div class="ui wide main container">

            <div class="no example">
                <h4 class="ui header">Text Container</h4><i class="icon code"></i><a class="anchor"
                                                                                     id="text-container"></a>

                <p>A container can reduce its maximum width to more naturally accomodate a single column of
                   text</p>

                <div class="ui info message">
                    A text container is a simpler markup alternative to using a grid with a single column,
                    and is designed to have a reasonable maximum width for displaying flowing text
                </div>
            </div>

            <div class="ui ignored code">
                <div class="ui text container">
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h2 class="ui header">Header</h2>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
               elit. Aenean commodo ligula eget dolor. Aenean massa
                <strong>strong</strong>. Cum sociis natoque penatibus
               et magnis dis parturient montes, nascetur ridiculus
               mus. Donec quam felis, ultricies nec, pellentesque
               eu, pretium quis, sem. Nulla consequat massa quis
               enim. Donec pede justo, fringilla vel, aliquet nec,
               vulputate eget, arcu. In enim justo, rhoncus ut,
               imperdiet a, venenatis vitae, justo. Nullam dictum
               felis eu pede <a href="#">link</a>
               mollis pretium. Integer tincidunt. Cras dapibus.
               Vivamus elementum semper nisi. Aenean vulputate
               eleifend tellus. Aenean leo ligula, porttitor eu,
               consequat vitae, eleifend ac, enim. Aliquam lorem ante,
               dapibus in, viverra quis, feugiat a, tellus. Phasellus
               viverra nulla ut metus varius laoreet. Quisque rutrum.
               Aenean imperdiet. Etiam ultricies nisi vel augue.
               Curabitur ullamcorper ultricies nisi.</p>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
               elit. Aenean commodo ligula eget dolor. Aenean massa
                <strong>strong</strong>. Cum sociis natoque penatibus
               et magnis dis parturient montes, nascetur ridiculus
               mus. Donec quam felis, ultricies nec, pellentesque
               eu, pretium quis, sem. Nulla consequat massa quis
               enim. Donec pede justo, fringilla vel, aliquet nec,
               vulputate eget, arcu. In enim justo, rhoncus ut,
               imperdiet a, venenatis vitae, justo. Nullam dictum
               felis eu pede <a href="#">link</a>
               mollis pretium. Integer tincidunt. Cras dapibus.
               Vivamus elementum semper nisi. Aenean vulputate
               eleifend tellus. Aenean leo ligula, porttitor eu,
               consequat vitae, eleifend ac, enim. Aliquam lorem ante,
               dapibus in, viverra quis, feugiat a, tellus. Phasellus
               viverra nulla ut metus varius laoreet. Quisque rutrum.
               Aenean imperdiet. Etiam ultricies nisi vel augue.
               Curabitur ullamcorper ultricies nisi.</p>
        </div>

        <div class="ui wide main container">

            <h2 class="ui dividing header">Variations<a class="anchor" id="variations"></a></h2>

            <div class="no example">
                <h4 class="ui header">Text Alignment</h4><i class="icon code"></i><a class="anchor"
                                                                                     id="text-alignment"></a>

                <p>A container can specify its text alignment</p>

            </div>

            <div class="ui ignored code">
                <div class="ui left aligned container">
                    <p></p>
                </div>
                <div class="ui center aligned container">
                    <p></p>
                </div>
                <div class="ui right aligned container">
                    <p></p>
                </div>
                <div class="ui justified container">
                    <p></p>
                </div>
            </div>

            <div class="ui left aligned container">
                Left Aligned
            </div>
            <div class="ui center aligned container">
                Center Aligned
            </div>
            <div class="ui right aligned container">
                Right Aligned
            </div>
            <div class="ui justified container">
                <b>Justified</b>

                <div class="ui divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                   elit. Aenean commodo ligula eget dolor. Aenean massa
                    <strong>strong</strong>. Cum sociis natoque penatibus
                   et magnis dis parturient montes, nascetur ridiculus
                   mus. Donec quam felis, ultricies nec, pellentesque
                   eu, pretium quis, sem. Nulla consequat massa quis
                   enim. Donec pede justo, fringilla vel, aliquet nec,
                   vulputate eget, arcu. In enim justo, rhoncus ut,
                   imperdiet a, venenatis vitae, justo. Nullam dictum
                   felis eu pede <a href="#">link</a>
                   mollis pretium. Integer tincidunt. Cras dapibus.
                   Vivamus elementum semper nisi. Aenean vulputate
                   eleifend tellus. Aenean leo ligula, porttitor eu,
                   consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                   dapibus in, viverra quis, feugiat a, tellus. Phasellus
                   viverra nulla ut metus varius laoreet. Quisque rutrum.
                   Aenean imperdiet. Etiam ultricies nisi vel augue.
                   Curabitur ullamcorper ultricies nisi.</p>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
                   elit. Aenean commodo ligula eget dolor. Aenean massa
                    <strong>strong</strong>. Cum sociis natoque penatibus
                   et magnis dis parturient montes, nascetur ridiculus
                   mus. Donec quam felis, ultricies nec, pellentesque
                   eu, pretium quis, sem. Nulla consequat massa quis
                   enim. Donec pede justo, fringilla vel, aliquet nec,
                   vulputate eget, arcu. In enim justo, rhoncus ut,
                   imperdiet a, venenatis vitae, justo. Nullam dictum
                   felis eu pede <a href="#">link</a>
                   mollis pretium. Integer tincidunt. Cras dapibus.
                   Vivamus elementum semper nisi. Aenean vulputate
                   eleifend tellus. Aenean leo ligula, porttitor eu,
                   consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                   dapibus in, viverra quis, feugiat a, tellus. Phasellus
                   viverra nulla ut metus varius laoreet. Quisque rutrum.
                   Aenean imperdiet. Etiam ultricies nisi vel augue.
                   Curabitur ullamcorper ultricies nisi.</p>
            </div>

            <div class="no example">
                <h4 class="ui header">Fluid</h4><i class="icon code"></i><a class="anchor" id="fluid"></a>

                <p>A fluid container has no maximum width</p>

                <div class="ui info message">Fluid containers are useful for setting text alignment, or
                                             other variations on unstyled content
                </div>

                <div class="ui ignored code">
                    <div class="ui fluid container">
                        Fluid
                    </div>
                </div>
            </div>

        </div>

        <div class="ui fluid container">
            <h2 class="ui header">Dogs Roles with Humans</h2>

            <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf
               ancestors, which would have been pack hunters with complex body language. These sophisticated
               forms of social cognition and communication may account for their trainability, playfulness,
               and ability to fit into human households and social situations, and these attributes have
               given dogs a relationship with humans that has enabled them to become one of the most
               successful species on the planet today.</p>

            <p>The dogs' value to early human hunter-gatherers led to them quickly becoming ubiquitous
               across world cultures. Dogs perform many roles for people, such as hunting, herding, pulling
               loads, protection, assisting police and military, companionship, and, more recently, aiding
               handicapped individuals. This impact on human society has given them the nickname "man's best
               friend" in the Western world. In some cultures, however, dogs are also a source of meat.</p>
        </div>

        <div class="ui wide main container"></div>

    </div>
    <div class="ui tab active" data-tab="examples">

        <div class="ui wide main container">

            <h2 class="ui dividing header">Examples<a class="anchor" id="examples"></a></h2>

            <div class="no example">
                <h4 class="ui header">Containers Using Grids</h4><i class="icon code"></i><a class="anchor"
                                                                                             id="containers-using-grids"></a>

                <p>A container can be combined with a grid allowing you to use all of the layout and
                   alignment available for <a href="/collections/grid.html#doubling">grids</a> including
                   responsive patterns.</p>
            </div>

            <div class="ui existing segment"><pre><code class="ui ignored code xml"><span
                    class="tag">&lt;<span class="title">div</span> <span
                    class="attribute">class</span>=<span
                    class="value">"ui four column doubling grid container"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span
          class="value">"column"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span
          class="value">"column"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span
          class="value">"column"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span
          class="value">"column"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>
            </div>
        </div>

        <div class="ui four column doubling stackable grid container">
            <div class="column">
                <img src="/images/wireframe/media-paragraph.png" class="ui wireframe image">

                <div class="ui hidden divider"></div>
                <img src="/images/wireframe/paragraph.png" class="ui wireframe image">

                <div class="ui hidden divider"></div>
                <img src="/images/wireframe/paragraph.png" class="ui wireframe image">
            </div>
            <div class="column">
                <img src="/images/wireframe/media-paragraph.png" class="ui wireframe image">

                <div class="ui hidden divider"></div>
                <img src="/images/wireframe/paragraph.png" class="ui wireframe image">

                <div class="ui hidden divider"></div>
                <img src="/images/wireframe/paragraph.png" class="ui wireframe image">
            </div>
            <div class="column">
                <img src="/images/wireframe/media-paragraph.png" class="ui wireframe image">

                <div class="ui hidden divider"></div>
                <img src="/images/wireframe/paragraph.png" class="ui wireframe image">

                <div class="ui hidden divider"></div>
                <img src="/images/wireframe/paragraph.png" class="ui wireframe image">
            </div>
            <div class="column">
                <img src="/images/wireframe/media-paragraph.png" class="ui wireframe image">

                <div class="ui hidden divider"></div>
                <img src="/images/wireframe/paragraph.png" class="ui wireframe image">

                <div class="ui hidden divider"></div>
                <img src="/images/wireframe/paragraph.png" class="ui wireframe image">
            </div>
        </div>

        <div class="ui wide main container">
            <div class="no example">
                <h4 class="ui header">Centered Menu</h4><i class="icon code"></i><a class="anchor"
                                                                                    id="centered-menu"></a>

                <p>A container can be used inside of a menu to make sure menu items appear inline with page
                   contents. Using responsive variations like <a href="/collections/menu.html#stackable">stackable</a>
                   menu can help make contents adjust to different device sizes.</p>
            </div>

            <div class="ui existing segment"><pre><code class="ui ignored code xml"><span
                    class="tag">&lt;<span class="title">div</span> <span
                    class="attribute">class</span>=<span class="value class">"<a
                    href="/collections/menu.html">ui attached stackable menu</a>"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"ui container"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span
            class="value">"item"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value class">"<a
              href="/elements/icon.html">home icon</a>"</span>&gt;</span><span class="tag">&lt;/<span
                        class="title">i</span>&gt;</span> Home
    <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span
            class="value">"item"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value class">"<a
              href="/elements/icon.html">grid layout icon</a>"</span>&gt;</span><span class="tag">&lt;/<span
                        class="title">i</span>&gt;</span> Browse
    <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span
            class="value">"item"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value class">"<a
              href="/elements/icon.html">mail icon</a>"</span>&gt;</span><span class="tag">&lt;/<span
                        class="title">i</span>&gt;</span> Messages
    <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value class">"<a
            href="/modules/dropdown.html">ui simple dropdown item</a>"</span>&gt;</span>
      More
      <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value class">"<a
              href="/elements/icon.html">dropdown icon</a>"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"menu"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">"item"</span>&gt;</span><span
                        class="tag">&lt;<span class="title">i</span> <span
                        class="attribute">class</span>=<span class="value class">"<a
                        href="/elements/icon.html">edit icon</a>"</span>&gt;</span><span
                        class="tag">&lt;/<span class="title">i</span>&gt;</span> Edit Profile<span
                        class="tag">&lt;/<span class="title">a</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">"item"</span>&gt;</span><span
                        class="tag">&lt;<span class="title">i</span> <span
                        class="attribute">class</span>=<span class="value class">"<a
                        href="/elements/icon.html">globe icon</a>"</span>&gt;</span><span
                        class="tag">&lt;/<span class="title">i</span>&gt;</span> Choose Language<span
                        class="tag">&lt;/<span class="title">a</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">"item"</span>&gt;</span><span
                        class="tag">&lt;<span class="title">i</span> <span
                        class="attribute">class</span>=<span class="value class">"<a
                        href="/elements/icon.html">settings icon</a>"</span>&gt;</span><span
                        class="tag">&lt;/<span
                        class="title">i</span>&gt;</span> Account Settings<span class="tag">&lt;/<span
                        class="title">a</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"right item"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span
              class="value class">"<a href="/elements/input.html">ui input</a>"</span>&gt;</span><span
                        class="tag">&lt;<span class="title">input</span> <span
                        class="attribute">type</span>=<span
                        class="value">"text"</span> <span class="attribute">placeholder</span>=<span
                        class="value">"Search..."</span>&gt;</span><span class="tag">&lt;/<span
                        class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>
            </div>
        </div>

        <div class="ui attached stackable menu">
            <div class="ui container">
                <a class="item">
                    <i class="home icon"></i> Home
                </a>
                <a class="item">
                    <i class="grid layout icon"></i> Browse
                </a>
                <a class="item">
                    <i class="mail icon"></i> Messages
                </a>

                <div class="ui simple dropdown item">
                    More
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        <a class="item"><i class="edit icon"></i> Edit Profile</a>
                        <a class="item"><i class="globe icon"></i> Choose Language</a>
                        <a class="item"><i class="settings icon"></i> Account Settings</a>
                    </div>
                </div>
                <div class="right item">
                    <div class="ui input"><input type="text" placeholder="Search..."></div>
                </div>
            </div>
        </div>

        <div class="ui wide main container">

            <div class="no example">
                <h4 class="ui header">Container Segment</h4><i class="icon code"></i><a class="anchor"
                                                                                        id="container-segment"></a>

                <p>A container can be used with a <a href="/elements/segment.html">segment</a></p>
            </div>

            <div class="ui existing segment"><pre><code class="ui ignored code xml"><span
                    class="tag">&lt;<span class="title">div</span> <span
                    class="attribute">class</span>=<span class="value class">"ui raised very padded text <b
                    title="Required Class">container segment</b>"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">h2</span> <span class="attribute">class</span>=<span class="value class">"<a
          href="/elements/header.html">ui header</a>"</span>&gt;</span>Dogs Roles with Humans<span
                        class="tag">&lt;/<span class="title">h2</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span
                        class="title">p</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span
                        class="title">p</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>
            </div>
        </div>

        <div class="ui raised very padded text container segment">
            <h2 class="ui header">Dogs Roles with Humans</h2>

            <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf
               ancestors, which would have been pack hunters with complex body language. These sophisticated
               forms of social cognition and communication may account for their trainability, playfulness,
               and ability to fit into human households and social situations, and these attributes have
               given dogs a relationship with humans that has enabled them to become one of the most
               successful species on the planet today.</p>

            <p>The dogs' value to early human hunter-gatherers led to them quickly becoming ubiquitous
               across world cultures. Dogs perform many roles for people, such as hunting, herding, pulling
               loads, protection, assisting police and military, companionship, and, more recently, aiding
               handicapped individuals. This impact on human society has given them the nickname "man's best
               friend" in the Western world. In some cultures, however, dogs are also a source of meat.</p>
        </div>

        <div class="ui wide main container"></div>
    </div>
</template>