<template name="topNav">

    <div id="nav-header" class="ui inverted top attached visible wide menu">
        <div class="ui wide fluid container">
            <div class="left menu">
                <a class="ui vertically fitted borderless item" href="http://www.meteor.com">
                    <img class="ui mini image" src="/img/meteor-48.png" alt="meteor">
                </a>
            </div>
            <div class="ui inverted vertically fitted text container segment">
                <h4 class="ui center aligned header item">
                    This is the current list
                </h4>
            </div>

            <div class="right menu">
                {{#if currentUser}}
                    <div class="ui vertically fitted borderless item">
                        <!--<iframe class="github" src="http://ghbtns.com/github-btn.html?user=semantic-org&amp;repo=semantic-ui&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>-->
                        <!--<img src="https://bitbucket.org/captina/client-onboarding/avatar/64/?ts=1442578848" class="" data-src-url="https://bitbucket.org/captina/client-onboarding/avatar/64/?ts=1442578848" data-src-url-2x="https://bitbucket.org/captina/client-onboarding/avatar/128/?ts=1442578848" alt="">-->
                        <img class="ui avatar image" src="{{avatarUrl}}" alt="{{emailNamePart}}" />
                        <span>{{emailNamePart}}</span>
                    </div>
                {{else}}
                    <a class="ui vertically fitted borderless item" href="/login">
                    <button class="ui labeled icon button primary">
                    <i class="sign in icon"></i>
                    Sign In
                    </button>
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</template>