<template name="GridLayout">

    {{!--
    <!--<div class="ui vertical sidebar menu" id="toc">-->
        <!--<div class="item">-->
            <!--<a class="ui logo icon image" href="/">-->
                <!--<img src="/images/logo.png">-->
            <!--</a>-->
            <!--<a href="/"><b>UI Locs</b></a>-->
        <!--</div>-->
        <!--<a class="item" href="/introduction/getting-started.html">-->
            <!--<b>Getting Started</b>-->
        <!--</a>-->
        <!--<a class="item" href="/introduction/new.html">-->
            <!--<b>New in 2.1</b>-->
        <!--</a>-->
        <!--<div class="item">-->
            <!--<div class="header">Introduction</div>-->
            <!--<div class="menu">-->

                <!--<a class="item" href="/introduction/integrations.html">-->
                    <!--Integrations-->
                <!--</a>-->

                <!--<a class="item" href="/introduction/build-tools.html">-->
                    <!--Build Tools-->
                <!--</a>-->

                <!--<a class="item" href="/introduction/advanced-usage.html">-->
                    <!--Recipes-->
                <!--</a>-->

                <!--<a class="item" href="/introduction/glossary.html">-->
                    <!--Glossary-->
                <!--</a>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<div class="header">Usage</div>-->
            <!--<div class="menu">-->

                <!--<a class="item" href="/usage/theming.html">-->
                    <!--Theming-->
                <!--</a>-->

                <!--<a class="item" href="/usage/layout.html">-->
                    <!--Layouts-->
                <!--</a>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<div class=" header">Globals</div>-->
            <!--<div class="menu">-->

                <!--<a class="item" href="/globals/reset.html">-->
                    <!--Reset-->

                <!--</a>-->

                <!--<a class="item" href="/globals/site.html">-->
                    <!--Site-->

                <!--</a>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
--}}

    <div class="ui grid">

        <div class="sixteen wide column">
            <div class="ui inverted bottom attached big menu">
                <div class="left primary menu">
                    <a class="launch icon item">
                        <button class="ui inverted basic right labeled icon button">
                            <i class="content icon"></i>Lists
                        </button>

                    </a>
                </div>
                <a class="launch icon item">
                    <i class="content icon"></i>
                </a>

                <div class="item">
                    Rail
                </div>
                <div class="right menu">
                    <div class="vertically fitted borderless item">
                        <a class="primary button">Login</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="two wide column">
            <div class="ui vertical tabular menu">

                <!--<div class="ui visible sidebar tab inverted vertical sticky menu">-->

                <a class="active item" href="/introduction/getting-started.html">
                    <i class="sidebar icon"></i>
                    <b>Getting Started</b>
                </a>
                <a class="item" href="/introduction/new.html">
                    <b>New in 2.1</b>
                </a>

                <div class="item">
                    <div class="header">Introduction</div>
                    <div class="menu">

                        <a class="item" href="/introduction/integrations.html">
                            Integrations
                        </a>

                        <a class="item" href="/introduction/build-tools.html">
                            Build Tools
                        </a>

                        <a class="item" href="/introduction/advanced-usage.html">
                            Recipes
                        </a>

                        <a class="item" href="/introduction/glossary.html">
                            Glossary
                        </a>

                    </div>
                </div>
                <div class="item">
                    <div class="header">Usage</div>
                    <div class="menu">

                        <a class="item" href="/usage/theming.html">
                            Theming
                        </a>

                        <a class="item" href="/usage/layout.html">
                            Layouts
                        </a>

                    </div>
                </div>
                <div class="item">
                    <div class=" header">Globals</div>
                    <div class="menu">

                        <a class="item" href="/globals/reset.html">
                            Reset

                        </a>

                        <a class="item" href="/globals/site.html">
                            Site

                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="fourteen wide stretched column">
            <div class="ui container tab">
                Content
                <div class="ui image">
                    <svg width="310" height="310">
                        <img xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="/img/logo-todos.svg"
                             src="/img/logo-todos.png"
                             x="0" y="0" width="100%" height="100%" />

                    </svg>
                </div>
            </div>

        </div>

        <div class="sixteen wide column">
            <div class="ui bottom fixed black inverted vertical footer segment">
                <div class="ui center aligned container">
                    <div class="ui stackable inverted grid">
                        <div class="three wide column">
                            <h4 class="ui inverted header">Community</h4>

                            <div class="ui inverted link list">
                                <a class="item" href="https://www.transifex.com/organization/semantic-org/"
                                   target="_blank">Help
                                                   Translate</a>
                                <a class="item" href="https://github.com/Semantic-Org/Semantic-UI/issues"
                                   target="_blank">Submit
                                                   an
                                                   Issue</a>
                                <a class="item" href="https://gitter.im/Semantic-Org/Semantic-UI" target="_blank">Join
                                                                                                                  our
                                                                                                                  Chat</a>
                                <a class="item" href="/cla.html" target="_blank">CLA</a>
                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui inverted header">Network</h4>

                            <div class="ui inverted link list">
                                <a class="item" href="https://github.com/Semantic-Org/Semantic-UI" target="_blank">GitHub
                                                                                                                   Repo</a>
                                <a class="item" href="http://1.semantic-ui.com">1.x Docs</a>
                                <a class="item" href="http://legacy.semantic-ui.com">0.x Docs</a>
                            </div>
                        </div>
                        <!--    <div class="three wide column">
                             <h4 class="ui inverted header">Learn</h4>
                             <div class="ui inverted link list">
                               <a href="#" class="disabled item">Example Layouts</a>
                               <a href="#" class="disabled item">The Project</a>
                               <a href="#" class="disabled item">Roadmap</a>
                               <a href="#" class="disabled item">About the Author</a>
                             </div>
                           </div> -->
                        <div class="seven wide right floated column">
                            <h4 class="ui inverted teal header">Help Preserve This Project</h4>

                            <p> Support for the continued development of Semantic UI comes directly from the
                                community.</p>

                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="7ZAF2Q8DBZAQL">
                                <button type="submit" class="ui large teal button">Donate Today</button>
                            </form>
                        </div>
                    </div>
                    <div class="ui inverted section divider"></div>
                    <img src="/images/logo.png" class="ui centered mini image">

                    <div class="ui horizontal inverted small divided link list">
                        <a class="item" href="http://semantic-ui.mit-license.org/" target="_blank">Free & Open
                                                                                                   Source
                                                                                                   (MIT)</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--- end page content -->
    {{!--
        <div class="ui basic language modal">
            <i class="close icon"></i>

            <div class="header">The <span class="name"></span> Translation Needs Your Help</div>
            <div class="image content">
                <div class="middle aligned image">
                    <i class="world icon"></i>
                </div>
                <div class="description">
                    <p>This translation is only <b><span class="complete"></span>%</b> complete!</p>

                    <div class="ui inverted indicating progress">
                        <div class="bar"></div>
                    </div>
                    <p>We need your help to make Semantic available to people who speak your language.</p>

                    <p>Our translation tools are easy to use and allow you to translate text without having to leave the
                       site.
                    </p>
                </div>
            </div>
            <div class="actions">
                <div class="ui inverted cancel button">No Thanks</div>
                <a href="https://github.com/Semantic-Org/Semantic-UI/wiki/Translating-Semantic-UI-Docs" target="_blank"
                   class="ui inverted approve teal button">
                    <i class="mail icon"></i>
                    Help Translate
                </a>
            </div>
        </div>

        <div class="ui basic chinese modal">
            <i class="close icon"></i>

            <div class="header">Would you like to visit the mirror site?</div>
            <div class="image content">
                <div class="middle aligned image">
                    <i class="question icon"></i>
                </div>
                <div class="description">
                    <p>Semantic is available at <a href="http://www.semantic-ui.cn">semantic-ui.cn</a> a mirror site hosted
                       inside China. This should make browsing much faster for those visiting from mainland China.
                    </p>
                </div>
            </div>
            <div class="actions">
                <div class="ui inverted red cancel button">No Thanks</div>
                <a href="http://www.semantic-ui.cn" class="ui inverted green approve button">
                    <i class="mail icon"></i>
                    Yes, take me to the mirror
                </a>
            </div>
        </div>
        <div class="ui demo page dimmer">
            <div class="content">
                <div class="center">
                    <h2 class="ui inverted icon header">
                        <i class="mail icon"></i>
                        Dimmer Message
                        <div class="sub header">Dimmer sub-header</div>
                    </h2>
                </div>
            </div>
        </div>
    --}}

</template>