
#example {
    // variables
    @wide-container: 1200px !important;
    //

    /* Sidebar */
    #toc {
        & > :last-child {
            padding-bottom: 2em;
        }
        &.sidebar.menu {
            .logo.image {
                width:        35px;
                margin-right: 1em;
            }

            .active {
                &.item {
                    color: #6DFFFF !important;;
                }
            }
            .item {
                .circular.label {
                    position:   absolute;
                    top:        0.75rem;
                    right:      1em;
                    opacity:    0.6;
                    transition: background 0.3s ease;
                    &.floating {
                        top: 0;
                        right: auto;
                        left: 86%;
                        opacity: 0.7;
                        margin: 0.01rem !important;
                    }
                    &.active,
                    &:hover {
                        opacity: 1.0;

                    }
                }

                &.hide {
                    display: none;
                }
            }
            .inverted.header {
                font-size:     1em;
                font-weight:   normal;
                color:         rgba(255, 255, 255, 0.6);
                margin-bottom: 0.5em;
            }
            a.inverted.header {
                &.active, &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
        overflow-x: visible;
        overflow-y: hidden;
    }

    #nav-header {
        margin-top: 0;
        .text.container.segment {
            margin: 0 !important;
            .header.item {
                text-align: center;
                display:    inherit;
            }
        }
    }

    &.basic {

        #nav-header();

        .vertical.sidebar.left {
            padding-top: 4.6em;
        }

        .fixed.launch.button {
            /*display:            none;*/
            position:           fixed;
            top:                4.6em;
            left:               0;
            width:              46px;
            height:             auto;
            white-space:        nowrap;
            overflow:           hidden;
            -webkit-transition: 0.3s width ease,
                                0.5s transform ease;
            -moz-transition:    0.3s width ease,
                                0.5s transform ease;
            -o-transition:      0.3s width ease,
                                0.5s transform ease;
            -ms-transition:     0.3s width ease,
                                0.5s transform ease;
            transition:         0.3s width ease,
                                0.5s transform ease;
            .text {
                position:           absolute;
                white-space:        nowrap;
                top:                auto;
                left:               46px;
                opacity:            0;
                -webkit-transition: 0.3s opacity 0.3s;
                -moz-transition:    0.3s opacity 0.3s;
                -o-transition:      0.3s opacity 0.3s;
                -ms-transition:     0.3s opacity 0.3s;
                transition:         0.3s opacity 0.3s;

            }
            &:hover {
                width: 100px;
                .text {
                    opacity: 1;
                }
            }
        }

        &.pushable {
            &.left.slide {
                .fixed.launch.button {
                    transform: translate3d(0, 0, 0);
                }
                &.pushed {
                    .fixed.launch.button {
                        transform: translate3d(260px, 0, 0);
                    }
                }
            }
        }

        .container {
            position:  relative;
            max-width: none !important;
            margin:    0 !important;
            &.wide, &.main {
                max-width:    100% !important;
                width:        @wide-container;
                margin-right: 1em !important;
                margin-left:  6em !important;
            }
        }

    }

}
