<template name="testSemantic">

    <div id="toc" class="ui left vertical sidebar pointing menu">

        <div class="ui header item">
            <a class="ui logo icon image" href="#">
                <img src="/img/Captina_circle-120px.png">
            </a>
            <a href="/lists"><b>Onboarding Lists</b></a>
        </div>

        <a class="ui item mtr-add-list new">
            <span>Add New List</span>
            <i class="ui green add circle icon"></i>
        </a>

        {{#if Template.subscriptionsReady}}
            {{#each list in lists}}
                {{#with list}}
                    {{> sidebarListsMenu}}
                {{/with}}
            {{else}}
                <div class="ui item">
                    Nope
                </div>
            {{/each}}

        {{else}}
            {{> loading}}
        {{/if}}



        <div class="ui hidden divider"></div>

    </div>

    <div class="ui big launch right attached fixed black button">
        <i class="sidebar icon"></i>
        <span class="text">Lists</span>
    </div>

    {{> topNav}}

    <div class="pusher">
        <div class="ui grid container">
            {{> Template.dynamic template=main}}
        </div>
        {{> footer}}
    </div>
</template>